:root {
    --cor1: #a5b1c2;
    --cor2: #8854d0;
    --cor3: #000;
    --cor4: #d1d8e0;
    --cor5: #119759;
    --cor6: #fff;
    --instagram1: #7f37c9;
    --instagram2: #ff2992;
    --instagram3: #ff9807;
    --facebook: #4267b3;
    --whatsapp: #25d366;
    --youtube: #c4302b;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header {
    padding-top: 16px;
    background-color: var(--cor1);
    margin: 0 auto;
}

main {
    height: 200vh;
}

footer {
    background-color: var(--cor1);
    margin: 0 auto;
    max-height: 250px;
    height: 100%;
}


.header {
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 50px;
    text-transform: uppercase;
}

#footer-logo-contacts h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.header h1 span,
#footer-logo-contacts h2 span {
    color: var(--cor2);
}

nav {
    padding: 16px 0;
    margin-bottom: 24px;
    display: none;
}

nav li {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    margin-right: 14%;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    
    
}

nav li a {
    color: var(--cor3);
    text-decoration: none;
}

nav li a:hover {
    color: var(--cor2);
}

.menu-hamburger {
    width: 32px;
    cursor: pointer;
}

.menu-hamburger:hover {
    background-color: var(--cor2);
    border: 3px solid black;
}

.menu-hamburger span {
    height: 2px;
    width: 100%;
    background-color: var(--cor3);
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}


.lista-discos-lanc,
.lista-discos-promo {
    flex-wrap: wrap;
}

.lista-discos-lanc li,
.lista-discos-promo li {
    list-style: none;
    max-width: 200px;
    height: 340px;
    width: 100%;
    margin-bottom: 24px;
    margin-right: 2px;
    display: block;
    align-items: center;
    text-align: center;
    
}

.lista-discos-lanc li:hover,
.lista-discos-promo li:hover {
    background-color: var(--cor4);
}


.lista-discos-lanc li h3,
.lista-discos-promo li h3{
    max-height: 60px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--cor2);
}

.lista-discos-lanc li h4,
.lista-discos-promo li h4 {
    max-height: 60px;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-discos-lanc li img,
.lista-discos-promo li img {
    max-height: 125px;
    max-width: 125px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.lista-discos-lanc li .price,
.lista-discos-promo li .price {
    max-height: 60px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-discos-lanc li .price strong,
.lista-discos-promo li .price strong {
    font-size: 30px;
}

.promoções p {
    color: var(--cor5);
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: var(--cor2);
    color: var(--cor6);
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;

}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
    background: var(--cor2)
}

.slick-prev.slick-arrow:hover,
.slick-next.slick-arrow:hover {
    background: var(--cor3)
}


button:hover{
    background-color: var(--cor5);
    text-transform: uppercase;
}

#carousel-imagens{
    max-width: 1024px;
}

#promo-carousel,
#lanc-carousel {
    max-width: 1000px;
}

#carousel-imagens img {
    max-width: 256px;
    max-height: 256px;
    width: 100%;
    height: 100%;
}

#sobre {
   max-width: 512px;
   margin-right: 24px;
   margin: 0 auto;
}

#sobre h2,
#lançamentos h2,
#promoções h2 {
    margin: 30px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--cor2)
}


.paragraph {
    margin-bottom: 30px;
    font-size: 25px;
}

.paragraph p,
.paragraph p strong {
    font-family: 'Dosis', sans-serif;
}

#footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

}

#footer-logo-contacts h2,
#footer-menu h3,
#footer-address h3  {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#footer-menu h3,
#footer-address h3 {
    color: var(--cor2);
}

#footer-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.max-height {
    height: 130px;
    display: flex;
    align-items: center;
}

#footer-social-media li {
    list-style: none;
    display: inline-flex;

}

#footer-social-media li a,
.icon-address li i {
    text-decoration: none;
    color: var(--cor6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}

#footer-social-media li a:hover {
    opacity: 0.3;
}

#Instagram {
    background: linear-gradient(var(--instagram1), var(--instagram2), var(--instagram3) );
}

#Facebook {
    background-color: var(--facebook);
}

#WhatsApp {
    background-color: var(--whatsapp);
}

#footer-social-media li #Youtube {
    color: var(--youtube);
}

.icon-address li i {
    color: var(--cor3);
    background-color: var(--cor6);
}

.icon-address li i:hover {
    color: var(--cor2);
}

#Youtube{
    background-color: var(--cor6);
}

#footer-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#footer-address {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#footer-address a {
    color: var(--cor3);
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

#address {
    display: flex;
    flex-direction: column;
    gap: 7.5px; 
}

.address-ul {
    list-style: none;
}

.address-ul:hover {
    color: var(--cor2);
}

.icon-address li {
    display: inline-flex;
}

#menu li {
    text-transform: capitalize;
    list-style: none;

}

#menu li a {
    text-decoration: none;
    color: var(--cor3); 
}

#menu li a:hover {
    color: var(--cor2);
}

#address address {
    list-style: none;
    text-transform: capitalize;
}

#Google-Maps {
    text-decoration: none;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    padding: 10px;
}
